<div class="container-fluid seats-container p-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                                <i class="far fa-check-circle fa-7x text-success"></i>
                                <br/>
                                <h3 class="text-dark my-5">Hi {{ticket.name}}, your tickets has been confirmed successfully.</h3>
                                <h5 class="text-center">Confirmed Seats:
                                        <span *ngFor="let seat of ticket.seats" class="badge badge-warning mr-2">{{rowLetter[seat.row]+"-"+(seat.number+1)}}</span>
                                        <!--<span class="badge badge-warning mr-2">B-20</span>
                                        <span class="badge badge-warning mr-2">A-10</span>
                                        <span class="badge badge-warning mr-2">B-20</span>
                                        <span class="badge badge-warning mr-2">B-20</span>-->
                                    </h5>
                                    <p class="text-muted">Your will receive tickets confirmation to {{ticket.email}} mailbox. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>